<!-- Footer -->
<footer class="page-footer font-small blue pt-4" *ngIf="router.url != '/login'">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-7 mt-md-0 mt-3 left-6">
        <!-- Content -->
        <a class="navbar-brand" href="#" style="color: black"><img src="{{footerIconPath}}" class="rounded"
            alt="Brand logo" width="600" height="fit-content" />
        </a>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-2 mb-md-0 mb-3 font-14">
        <!-- Links -->
        <h5 class="text-uppercase ">
          Who we are</h5>
        <ul class="list-unstyled ">
          <li>Careers</li>
          <li>Media center</li>
          <li>Partners</li>
          <li>Policies</li>
          <li>Press releases</li>
          <li>Sitemap</li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 font-14">
        <!-- Links -->
        <h5 class="text-uppercase">MARKET INSIGHT AND COMMUNITIES</h5>

        <ul class="list-unstyled">
          <li>Developer Community</li>
          <li>Insights</li>
          <li>MiFID II</li>
          <li>Perspectives</li>
          <li>Editorial Forums</li>
        </ul>
      </div>
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->
