.card-text {
  position: absolute;
  width: 86px;
  height: 50px;
  left: 1071px;
  top: 411px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 20px;

  color: #b50000;
}

.graph_img {
  width: 100%;
  height: 255px;
}

.graph-text {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #999999;
  /* margin-left: 12px; */
}

.meterscale {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-left: 137px;
}

.digit {
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 30px;
  color: #222222;
  margin-left: 12px;
}

.range {
  /* position: relative; */
  width: 100%;
  cursor: pointer;
}

.range:hover {
  border-bottom: 2px solid #3466f6;
  /* color: #3466F6; */
}

.card {
  border-radius: 8px;
}

.card-body {
  border-radius: 8px;
}

.highlight {
  border: none;
  outline: none;
  cursor: pointer;

  text-align: center;
}

.graphMeterScale {
  color: blue;
  border-bottom: 2px solid #3466f6;
}

.active,
.highlight:hover {
  color: blue;
}

.range.active {
  border-bottom: 2px solid #3466f6;
  margin-bottom: 50px;
}

.range {
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin: 3px;
  cursor: pointer;
  margin-top: -4px;
  line-height: 40px;
}

.highcharts-tooltip-box {
  fill: black;
  fill-opacity: 0.6;
  stroke-width: 0;
}

.highcharts-tooltip text {
  fill: white;
  text-shadow: 0 0 3px black;
}

.flex-section {
  display: flex !important;
  flex-direction: column;
  /* align-content: stretch; */
  flex-wrap: nowrap;
  justify-content: space-between;
}

.tooltip-example [tooltip] {
  font-size: large;
}
.ng-tooltip {
  position: absolute;
  max-width: 200px;
  font-size: 14px;
  text-align: center;
  color: #f8f8f2;
  padding: 3px;
  background: #282a36;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;
}
.ng-tooltip:after {
  content: "";
  position: absolute;
  border-style: solid;
}
/* .ng-tooltip-top:after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: black transparent transparent transparent;
}
.ng-tooltip-bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent black transparent;
} */

.ng-tooltip-right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent black transparent transparent;
}

.ng-tooltip-show {
  opacity: 1;
}

/* .line-height-2 {
  line-height: 2;
} */

.margin-tl {
  /* margin-top: 10%; */
  margin-left: -4%;
}

.red {
  /* color: #e04343; */
  color: #b50000;
  font-weight: 900;
}
.green {
  color: #039d00;
  font-weight: 900;
}

.flex-column {
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
}
/*slider code*/
.slidecontainer {
  width: 103%;
}

.slider {
  width: 97%;
  height: 6px;
  border-radius: 5px;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.7), rgba(0, 128, 0, 0.7)) !important;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  -webkit-appearance: none;
}

.slider:hover {
   background-image: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(0, 128, 0, 1));
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: hsl(50, 100%, 50%);
  overflow: visible;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: white;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 51%;
  margin-left: -60px;
  font-size: 10px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.range-labels {
  margin: 24px -54px 0;
  padding: 0;
  list-style: none;
}
.range-labels li {
  position: relative;
  float: left;
  width: 134.3px;
  text-align: center;
  color: black;
  font-size: 14px;
  cursor: pointer;
  top: -22px;
}
.main-div {
  width: 100%;
  overflow: hidden;
  text-align:center;
  font-size: 12px;
}
.col-div {
  width: 16%;
  height: 37px;
  display:inline-block;
}
.disabled-field {
    pointer-events: none;
    display: none;
}

.card-block {
    margin-top: 10px
}

.mytooltip {
    display: inline;
    position: relative;
    z-index: 999
}

.mytooltip .tooltip-item {
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 0 0px
}

.mytooltip .tooltip-content {
    position: absolute;
    z-index: 9999;
    width: 554px;
    left: 50%;
    margin: 0 0 8px -272px;
    border-radius: 8px;
    bottom: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 19px;
    -webkit-box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
    background: white;
    opacity: 0;
    cursor: default;
    pointer-events: none
}

.mytooltip .tooltip-content::after {
    content: '';
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: white transparent transparent;
    border-width: 10px;
    margin-left: -10px
}

.mytooltip .tooltip-content img {
    position: relative;
    display: block;
    float: left;
    margin-right: 1em
}

.mytooltip .tooltip-item::after {
    content: '';
    position: absolute;
    width: 360px;
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.mytooltip:hover .tooltip-item::after {
    pointer-events: auto
}

.mytooltip:hover .tooltip-content {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg)
}

.mytooltip:hover .tooltip-content2 {
    opacity: 1;
    font-size: 18px
}

.mytooltip .tooltip-text {
    font-size: 14px;
    line-height: 24px;
    display: block;
    padding: 1.31em 1.21em 1.21em 0;
    color: #fff
}
.fa-arrow-down:before {
    font-size: 20px;
}
