<br />
<div class="container">
  <div class="row col-12" style="padding-right: 0px;padding-bottom: 20px;line-height: 170%">
      <!-- Commented out PORTFOLIO SENTIMENT SCORE -->
      <!--
      <div class="col-3.9 card text-white " style="background-color: #007bff85;margin-right: 22px">
        <div class="card-body flex-column">
          <div class="row">
            <div class="col-12">
              <p style="
                font-size: 16px;
                font-weight: 600;
              ">
                PORTFOLIO SENTIMENT SCORE <span class="fa fa-info-circle pl-3"
                  tooltip="Displays portion of portfolio that has positive and negative sentiment" placement="right"
                  delay="500">
                </span>
              </p>
            </div>
          </div>
          <div>
            <ng-container>
              <div class="col-12" style=" font-size: 15px;" 
              [ngStyle]="{'bottom': items['positiveSentScore'] ? '0px' : items['negativeSentScore'] ? '5px' : '-7px', 'text-align': items['positiveSentScore'] || items['negativeSentScore'] ? 'center' : ''}"
                *ngFor="let items of portfolioDetails" [ngClass]="items['aggregate_score'] ? 'pr-0' : ''"> 
                <ng-container *ngIf="items['aggregate_score']">
                  <span style="font-weight: 900;" [ngStyle]="{'color': items['aggregate_score_type'] === 'Negative' ? '#b50000' : items['aggregate_score_type'] === 'Positive' ? '#039d00' : 'black'}">{{items['aggregate_score']}}</span>&nbsp; <span style="color:black;">- {{items['aggregate_score_type'] }} Outlook</span>
                  <div class="slidecontainer tooltip" style="opacity:1">
                    <input type="range" min="-1.000" max="1.000" step="0.001" alt="text" [(ngModel)]="items['aggregate_score']" class="slider" id="myRange" disabled>
                    <span class="tooltiptext">Aggregate score: {{items['aggregate_score']}}</span>
                  </div>
                  <ul class="range-labels">
                    <li>-1</li>
                    <li>0</li>
                    <li>+1</li>
                  </ul>
                </ng-container>

                <ng-container *ngIf="items['positiveSentScore']">
                  <span class="green">
                    +{{ items["positiveSentScore"] }}
                  </span> for
                  {{ items["positiveAumPct"] }}{{ items["pct_type"] }} of
                  AUM
                </ng-container>
                
                <ng-container *ngIf="items['negativeSentScore']">
                  <span class="red">
                    {{ items["negativeSentScore"] }}
                  </span>
                  for {{ items["negativeAumPct"]
                  }}{{ items["pct_type"] }} of AUM
                </ng-container>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      -->

      <br />
      <!-- Commented out ESG SCORE -->
      <!--
      <div class="col-4 card " style="background-color: #1c59a059; margin-right: 11px; color: white; margin-left: -10px">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <p style="
                font-size: 16px;
                font-weight: 600;
              ">
                ESG SCORE <span class="mytooltip tooltip-effect-1"> <span class=" fa fa-info-circle pl-3 tooltip-item"></span> <span class="tooltip-content clearfix" style="color: black;text-align: center"><img src="assets/images/ESG_Image.png" style="width: 100%;height: 56px;"><br><span style="font-size: 12px;">ESG Risk Scores assess the degree to which a company's enterprise business value is at risk driven by environmental, social and governance issues. The final ESG Risk Scores are a measure of unmanaged risk on an absolute scale of 0-100, with a lower score signaling less unmanaged ESG Risk.</span></span> </span>
              </p>
            </div>
          </div>
          <div *ngFor="let items of portfolioDetails" [ngClass]="{'disabled-field': !items['esg_score']}">
            <div class="main-div" style="margin-top: 25px;">
              <div class="col-div" style="font-size: 17px">{{items['esg_score']}}</div>
              <div class="col-div" [ngStyle]="{'background': items['esg_score'] > 0 ? 'lightgray' : 'white', 'border': items['esg_score'] > 0 ? '' : 'lightgray 1px solid'}"></div>
              <div class="col-div" [ngStyle]="{'background': items['esg_score'] > 10 ? '#fbe7c1' : 'white', 'border': items['esg_score'] > 10 ? '' : 'lightgray 1px solid'}"></div>
              <div class="col-div" [ngStyle]="{'background': items['esg_score'] > 20 ? '#f9d083' : 'white', 'border': items['esg_score'] > 20 ? '' : 'lightgray 1px solid'}"></div>
              <div class="col-div" [ngStyle]="{'background': items['esg_score'] > 30 ? '#fbc35b' : 'white', 'border': items['esg_score'] > 30 ? '' : 'lightgray 1px solid'}"></div>
              <div class="col-div" [ngStyle]="{'background': items['esg_score'] > 40 ? 'orange' : 'white', 'border': items['esg_score'] > 40 ? '' : 'lightgray 1px solid'}"></div>
              <div  style="font-size: 17px">{{items['esg_label']}} ESG Risk</div>
            </div>
          </div>
        </div>
      </div>
      -->
<!-- </div> -->
      <br />
      <div class="col-4 card text-white " style="background-color: #007bff85; margin-left: 1px;">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <p style="
                  font-size: 16px;
                  color: white;
                  font-weight: 600;
                  font-style: 16px;
                ">
                MARKET SENTIMENT SCORE
              </p>
            </div>
          </div>
         
          <div class="row pt-4" *ngIf="marketscorecardDetail;else message">
            <!-- <div class = "col-1"></div> -->
            <div class="col-5" style="margin-top: 19px;" *ngIf="marketscorecardDetail !== undefined">
              <b *ngIf="checkNumberValue(marketscorecardDetail.marketSentScore) === true" style="
               
                  font-size: 33px;
                  color: #039d00;
                ">{{ marketscorecardDetail.marketSentScore
                }}</b>
              <b *ngIf="checkNumberValue(marketscorecardDetail.marketSentScore) === false" style="font-size: 35px; color: #b50000">{{
                marketscorecardDetail.marketSentScore
                }}</b>
                <i class="fa fa-arrow-up pt-2" aria-hidden="true" style="
                    color: #039d00;
                    font-size: 16px;
                    margin-left: 12%;
                    position: absolute;
                    /* margin-top: 4%; */
                  " *ngIf="marketscorecardDetail.symbol === 'up-arrow'"></i>
                <i class="fa fa-arrow-down pt-2" aria-hidden="true" style="
                    color: #b50000;
                    font-size: 16px;
                    margin-left: 12%;
                    position: absolute;
                    /* margin-top: 4%; */
                  " *ngIf="marketscorecardDetail.symbol === 'down-arrow'"></i>
                  <div class='mt-4'>
                    <b *ngIf="checkNumberValue(marketscorecardDetail.marketSentScore) === 'neutral'" style="font-size: 24px;color: white">{{
                      marketscorecardDetail.marketSentScore
                      }}</b>

                  </div>
                 
            </div>
            <div class="col-7 pl-4 pr-0 pt-2 margin-tl">
              <ng-container *ngId="marketscorecardDetail !== undefined">
                <i *ngIf="marketscorecardDetail.symbol === 'up-arrow'" class="fa fa-arrow-up" aria-hidden="true"
                  style="margin-top: 15px; color: #039d00"></i>
                <i *ngIf="marketscorecardDetail.symbol === 'down-arrow'" class="fa fa-arrow-down" aria-hidden="true"
                  style="margin-top: 15px; color: #b50000"></i>
              </ng-container>
              <br />
              <span *ngIf="marketscorecardDetail !== undefined" style="
                  margin-left: -8%;
                  font-size: 16px;
                  font-weight: 400;
                  color: white;
                ">{{ marketscorecardDetail.changeSentScore }} from
                yesterday</span>
            </div>
           
          
          </div>
          <ng-template #message>
            <br>
            <div *ngIf = "marketoccuranceerror" class="col-12 " style="color: black;font-size: 14px;">
              {{ marketoccuranceerror}}
            </div>
          </ng-template>
        </div>
      </div>
  </div>
  <div class="row" style="width: 101.2%;">
    <div class="col-12">
      <div class="card h-100">
        <div class="card-body highchartoutline">
          <div class="row usdrow">
            <div class="col-3 p-0">
              <p class="graph-text pl-5">TOTAL AUM (USD)*</p>
              <p class="digit pl-4">
                {{ tumgraphbasictotalsymbol }}{{ tumgraphbasictotalinfo }}
              </p>
            </div>
            <!--<div class="col-2 p-0">
              <p class="graph-text pl-5">Date</p>
              <p style="font-size: 22px; color: black">
                {{ tumgraphbasictotaldate }}
              </p>
            </div>-->
            <div *ngIf="tumgraphbasicdaily" class="col-2 graph-text p-0">
              DAILY P&L <br />
              <ng-container *ngIf="tumgraphdailyarrow">
                <i class="fa fa-arrow-up" aria-hidden="true"
                  style="margin-top: 15px; color: #039d00; font-size: 15px"></i>
                <label style="font-size: 20px; color: #039d00">
                  &nbsp;{{ tumgraphbasicdaily }}
                  {{ tumgraphdailypercentage }}</label>
                <br />
              </ng-container>
              <ng-container *ngIf="!tumgraphdailyarrow">
                <i class="fa fa-arrow-down" aria-hidden="true"
                  style="margin-top: 15px; color: #b50000; font-size: 15px"></i>
                <label style="font-size: 20px; color: #b50000">
                  &nbsp;{{ tumgraphbasicdaily }}
                  {{ tumgraphdailypercentage }}</label>
                <br />
              </ng-container>
            </div>

            <div *ngIf="tumgraphbasicweekly" class="col-1 graph-text p-0">
              {{ tumgraphbasicweeklyLabel }}<br />

              <ng-container *ngIf="tumgraphweeklyarrow">
                <i class="fa fa-arrow-up" aria-hidden="true"
                  style="margin-top: 15px; color: #039d00; font-size: 15px"></i>
                <label style="font-size: 20px; color: #039d00">
                  &nbsp;{{ tumgraphbasicweekly }}
                  {{ tumgraphweeklypercentage }}</label>
                <br />
              </ng-container>
              <ng-container *ngIf="!tumgraphweeklyarrow">
                <i class="fa fa-arrow-down" aria-hidden="true"
                  style="margin-top: 15px; color: #b50000; font-size: 15px"></i>
                <label style="font-size: 20px; color: #b50000">
                  &nbsp;{{ tumgraphbasicweekly }}
                  {{ tumgraphweeklypercentage }}</label>
                <br />
              </ng-container>
            </div>

            <div class="col-4 meterscale">
              <div class="row">
                <div class="col-2 range highlight" *ngFor="let items of tumgraphbasicfilter"
                  (click)="graphTotalAsset(items.val)" [ngClass]="
                    graphMeterScaleActive(items.val) ? 'graphMeterScale' : ''
                  ">
                  {{ items.disp }}
                </div>
              </div>
            </div>
          </div>

          <!-- <br /> -->
          <div class="row">
            <div class="col-12 pl-1 pr-1">
              <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [(update)]="updateFlag"
                [oneToOne]="true" style="width: 100%; display: block"></highcharts-chart>
            </div>
          </div>
          <div style="font-size: 12px;">{{ tumgraphbasictotaldate }}</div>
        </div>
      </div>
    </div>
  </div>
</div>