/* Apply to all text in the component */
:host {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

div.head {
  overflow: hidden;
  position: relative;
}

div.head ul.tabs {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

div.head ul.tabs li.tab {
  /* background-color: #F0F0F0; */
  display: inline-block;
  padding: 10px;
  margin-right: 20px !important;
}

div.head ul.tabs li.tab:hover {
  background-color: #E8E8E8;
  cursor: pointer;
}

div.head ul.tabs li.tab.active {
  /* background-color: #E0E0E0; */
}

div.head{
  border-bottom: 1px solid lightgray;
}

li.tab.active{
  border-bottom: #3466F6;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
li.tab.active a{
      color: #3466F6;
    font-weight: 500;
    /* font-family: Source Sans Pro !important;  */
    font-size: 16px;
}

li.tab a{
    font-weight: 500;
    /* font-family: Source Sans Pro !important;  */
    font-size: 16px;
}

