/* Apply to all text in the component */
:host {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.pane {
  /* background-color: #E0E0E0; */
  padding: 20px;
  width: 100%;
}

.notification-number {
  position: absolute;
    top: 214px;
    margin-left: 415px;
    font-size: 12px;
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
}