<br>
<div class="container">
  <div class="row" style="width: 101.2%;">
    <div class="col-6">

      <div class="card clientbody" style="width: 556px;height: 354px;">
        <div class="card-header holdings">

          <label class="card-link"><b class= "font-18">CLIENT HOLDINGS</b></label>
          <!-- <a href="#" class="card-link" style="float:right;">Chart</a> -->
          <label class="card-link" style="float:right;">

            <div class="container">
              <ul class="nav " role="tablist">
                <li class="nav-item">
                  <a class="nav-link sfont ghi" data-toggle="tab" href="#home" id="ghi1"
                    onclick="myCunction(this, 'blue')">List</a>
                </li>
                <li class="nav-item">
                  <p class="nav-link sfont ghi" data-toggle="tab" href="#menu1" id="ghi2" id="chart"
                    onclick="myFunction(this, 'blue')">Chart</p>

              </ul>
            </div>
          </label>
        </div>


        <div class="card-body scrollable scrollbar-light-blue">
          <div class="tab-content">
            <div id="home" class="container tab-pane active">
              <table class="table">
                <thead>
                  <tr class="heading mt-5" style="position: sticky;top: 0;background-color: white;">
                    <th style="cursor: pointer;" [ngStyle]="{'color': shortClassName === '' ? '#999999' : 'black'}"
                      [ngClass]="shortClassName === 'headerSortUp' ? 'headerSortUp' : shortClassName === 'headerSortDown' ? 'headerSortDown' : ''"
                      (click)="sortNumber('shortClassName')">CLIENT NAME</th>
                    <th style="cursor: pointer;" [ngStyle]="{'color': shortClassCNG === '' ? '#999999' : 'black'}"
                      [ngClass]="shortClassCNG === 'headerSortUp' ? 'headerSortUp' : shortClassCNG === 'headerSortDown' ? 'headerSortDown' : ''"
                      (click)="sortNumber('shortClassCNG')" class="text-right">% CHG</th>
                    <!--<th style="cursor: pointer;" [ngStyle]="{'color': shortClassSentiment === '' ? '#999999' : 'black'}" [ngClass]="shortClassSentiment === 'headerSortUp' ? 'headerSortUp' : shortClassSentiment === 'headerSortDown' ? 'headerSortDown' : ''" (click)="sortNumber('shortClassSentiment')">SENTIMENT</th>-->
                    <th style="cursor: pointer;" colspan="2"
                      [ngStyle]="{'color': shortClassPSentiment === '' ? '#999999' : 'black'}"
                      [ngClass]="shortClassPSentiment === 'headerSortUp' ? 'headerSortUp' : shortClassPSentiment === 'headerSortDown' ? 'headerSortDown' : ''"
                      (click)="sortNumber('shortClassPSentiment')" class="text-right">
                      <span>SENTIMENT (% AUM)</span>
                      <span
                        class="tooltip"><i class="fa fa-info-circle"></i>
                        <span class="tooltiptext">Displays portion of portfolio that has positive sentiment</span>
                      </span>
                      <br>
                      <span style="float: left; padding-left: 35px;">+ve</span>
                      <span style="float: left;padding-left: 25px;">|</span>
                      <span style="float: left;padding-left: 35px;">-ve</span>
                       </th>
                     <th style="cursor: pointer;"
                      [ngStyle]="{'color': shortClassNSentiment === '' ? '#999999' : 'black'}"
                      [ngClass]="shortClassNSentiment === 'headerSortUp' ? 'headerSortUp' : shortClassNSentiment === 'headerSortDown' ? 'headerSortDown' : ''"
                      (click)="sortNumber('shortClassNSentiment')" class="text-right">ESG</th> 
                    <th style="cursor: pointer;" [ngStyle]="{'color': shortClassAUM === '' ? '#999999' : 'black'}"
                      [ngClass]="shortClassAUM === 'headerSortUp' ? 'headerSortUp' : shortClassAUM === 'headerSortDown' ? 'headerSortDown' : ''"
                      (click)="sortNumber('shortClassAUM')" class="text-right">AUM</th>
                    <th style="cursor: pointer;" [ngStyle]="{'color': shortClassTotal === '' ? '#999999' : 'black'}"
                      [ngClass]="shortClassTotal === 'headerSortUp' ? 'headerSortUp' : shortClassTotal === 'headerSortDown' ? 'headerSortDown' : ''"
                      (click)="sortNumber('shortClassTotal')" class="text-right">% AUM</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="sfont" *ngFor="let item of clientholdingdetails" (click)="onRowClick(item)">
                    <td class="text-left">{{item.name}}</td>
                    <td [ngStyle]="{'color': item.textColor}" class="text-right">{{item.changeVal}}</td>
                    <td class="text-right">{{item.posSentScore}} ({{item.positiveAumPct}})</td>
                    <td class="text-right">{{item.negSentScore}} ({{item.negativeAumPct}})</td>
                    <td class="text-right">{{item.esg_score}}</td>
                    <td class="text-right">{{item.currency_symbol}}{{item.marketValue}}</td>
                    <td class="text-right">{{item.ofOverall}}</td>
                  </tr>

                </tbody>
              </table>

            </div>
            <div id="menu1" class="container tab-pane fade">

              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <highcharts-chart [Highcharts]="Highcharts" [options]="piechart" [(update)]="updateFlag"
                      [oneToOne]="true" style="width: 100%; display: block;"></highcharts-chart>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div id="menu2" class="container tab-pane fade"><br>
                      <h3>Menu 2</h3>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div> -->
          </div>
        </div>

      </div>

    </div>


    <div class="col-6">
      <div class="card insightbody" style="height: 354px;">
        <div class="card-header"><b style="font-size:1.33vw">INSIGHTS & RECOMMENDED ACTIONS</b>
          <div class="hyper-link-ec">
            <span
              style="font-size: 16px; text-decoration: underline;cursor: pointer;color:#007bff;margin-left: -10%;margin-right: 5%"
              (click)="expandDetails('expand')">
              <a>Expand all</a>
            </span>
            <span
              style="font-size: 16px;text-decoration: underline;cursor: pointer;color:#007bff;"
              (click)="expandDetails('')">
              <a>Collapse all</a>
            </span>
          </div>
        </div>


        <div class="card-body scrollable scrollbar-light-blue">
          <div class="expandheight" style="margin: 2px 0px -15px 14px;"
            *ngFor="let item of insightdetails;let i = index" [attr.data-index]="i">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="panel-title pt-1 pb-1">
                    <div class="row">
                      <div class="col-1 pl-4">
                        <i [style.color]="item.accColor" class="fa fa-circle pr-1 pl-1" aria-hidden="true"></i>
                      </div>
                      <div class="col-10 pl-1">
                        <a data-toggle="collapse" class="pb-0 pt-0" data-parent="#accordion" href="#collapseOne{{i}}"
                          aria-expanded="true" aria-controls="collapseOne" [ngClass]="expandAll ? '' : 'collapsed'">

                          <label class="mb-0" style="color: black;font-size: 14px;">
                            {{item.accTitle }}
                          </label>
                        </a>
                      </div>
                    </div>

                  </div>
                  <hr>
                </div>
                <div id="collapseOne{{i}}" class="panel-collapse collapse in" [ngClass]="expandAll ? 'show' : ''"
                  role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body mt-3">

                    <ul style="list-style-type:none;" *ngFor="let abc of item.recommendation">
                      <!-- <li>
                        <a href="" class="insideaccord" (click)="open(content, abc)"><i class="fa fa-external-link"
                            aria-hidden="true" [ngStyle]="{'color': abc.actionColor}"></i>

                          &nbsp;&nbsp;{{abc.actionText}}
                        </a>
                      </li> -->
                      <li>
                        <button class="btn insideaccord" (click)="open(content, item, abc)"
                          [ngStyle]="{'color': abc.actionColor}">
                          <i class="fa fa-external-link"></i> <span class="font-14 pl-3" style= "color:black;cursor: pointer">
                            {{abc.actionText}}
                          </span>
                        </button>
                       <hr>
                      </li>
                      

                    </ul>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>







        <!-- <div class="card-body" *ngFor="let item of insightdetails;let i = index" [attr.data-index]="i">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <div class="row">
                <div class="col-sm-1">
                  <i style="color: #039D00;" class="fa fa-circle pr-1 pl-1" aria-hidden="true"></i>
                </div>
                <div class="col-sm-11 p-0 link" type="button" data-toggle="collapse" [attr.data-target]="getTargetData(i)"
                aria-expanded="true" aria-controls="collapse">
                <div class="row" (click)="onClickOnPanel($event,i)">
                  <div class="col-sm-10 p-1">
                    <span>
                       {{item.accTitle }}
                    </span>
                  </div>
                  <div class="col-sm-2 p-0">
                    <i class="fa fa-chevron-down" [id]="getIconID(i)" aria-hidden="true"></i>
                  </div>
                  </div>
                </div>
              </div>
            </div>

            <div [id]="getId(i)" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body" *ngFor="let abc of item.recommendation">
                <a href="#" class="insideaccord"  target="_blank" ><i class="fa fa-external-link" aria-hidden="true" [ngStyle]="{'color': abc.actionColor}"></i>
                 &nbsp;&nbsp;{{abc.actionText}}
                </a>
              </div>
            </div>
          </div>

        </div>
      </div> -->









      </div>
    </div>
  </div>
</div>
<br><br>

<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Recommended Action</h3>
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <div *ngIf="modalRow.actionText != 'Send a note to clients' && modalRow.actionText != 'Send a note'">
      Take Action for : <b> {{modalRow.actionText}}</b><br>
      <div class="row col-md-12" style="height: 400px;overflow-y: scroll;">
        <table class="table">
          <thead>
            <tr>
              <th style="cursor: pointer;" [ngStyle]="{'color': shortClientName === '' ? '#999999' : 'black'}"
                      [ngClass]="shortClientName === 'headerSortUp' ? 'headerSortUp' : shortClientName === 'headerSortDown' ? 'headerClientSortDown' : ''"
                      (click)="sortNumber('shortClientName')" >Client Names</th>
              <th style="cursor: pointer;" [ngStyle]="{'color': shortClientPct === '' ? '#999999' : 'black'}"
                      [ngClass]="shortClientPct === 'headerSortUp' ? 'headerSortUp' : shortClientPct === 'headerSortDown' ? 'headerClientSortDown' : ''"
                      (click)="sortNumber('shortClientPct')">% Impact</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of clientDataList" style="cursor: pointer">
              <th style="border-top: solid 1px lightgray;font-weight: 500;" (click)="modal.close('Ok click');getClientData(item)">{{item.name}}</th>
              <td>{{item.pct_change}}</td>
            </tr>
          </tbody>
        </table> 
      </div>
      <!--<ul>
        <li (click)="modal.close('Ok click');getClientData(item.name)" *ngFor="let item of clientDataList" style="color: blue;cursor: pointer">{{item.name}}</li>
      </ul>-->
    </div>
    <div *ngIf="modalRow.actionText === 'Send a note to clients' || modalRow.actionText === 'Send a note'">
      <b>Bcc</b> : {{clientDetails.relatedClientEmail}}<br>
      <b>From</b>: {{userDetails.Email}}<br>
      <br>
      <b>Subject</b>: {{modalRow.subject}}<br>
      <br>
      Dear Client,<br>
      <br>
      {{modalRow.body_1}}<br>
      <br>
      {{modalRow.body_2}}<br>
      <br>
      Thanks<br>
      {{userDetails.Name}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary font-14"
      (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger font-14" (click)="modal.close('Ok click');"  *ngIf="modalRow.actionText != 'Send a note to clients' && modalRow.actionText != 'Send a note'">Ok</button>
    <button type="button" class="btn btn-danger font-14" (click)="modal.close('Ok click');"  *ngIf="modalRow.actionText === 'Send a note to clients' || modalRow.actionText === 'Send a note'">Send</button>
  </div>
</ng-template>